<%- include('includes/head.ejs') %>
</head>

<body>
<%- include('includes/navigation.ejs') %>
    <h1>An unexpected error occured!</h1>
    <p>Inconvinience is deeply regreted, We are trying to fix this</p>
<%- include('includes/end.ejs') %>