<%- include('includes/head.ejs') %>
    <style>

    </style>
</head>
    <main>
        <form action="/users" method="post" >
            <input type="text" name="username" placeholder="enter your name">
            <button type="submit">Submit</button>
        </form>
    </main>
<%- include('includes/end.ejs') %>
