<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <ol class="user-list">
        <li class="list-item" >Nodejs User 1</li>
        <li class="list-item" >Nodejs User 2</li>
        <li class="list-item" >Nodejs User 3</li>
        <li class="list-item" >Nodejs User 4</li>
    </ol>
    
    <a href="../">Back</a>
</body>

</html>